{% block choixProfil_widget %}
	<h3 class="mb-4 font-semibold text-gray-900 dark:text-white">
		Identification
	</h3>
	<ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white space-y-2">
		{% for child in form %}azazaezezez
			<li class="w-full {% if not loop.last %}border-b border-gray-200 sm:border-b-0 sm:border-r{% endif %} dark:border-gray-600">
				{{child}}--<div class="flex items-center ps-3">
					{{ form_widget(child, {
                        attr: {
                            class: 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500',
                            id: child.vars.id,
                            'data-choix-profil-target': child.vars.value == 'Tout le monde' ? 'toutLeMonde' : 'autreProfil',
                            'data-action': child.vars.value == 'Tout le monde' ? 'change->choix-profil#toggleAutresProfils' : ''
                        }
                    }) }}
					{{ form_label(child, null, {
                        label_attr: {
                            class: 'w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300',
                            for: child.vars.id
                        }
                    }) }}
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
