{% extends 'base.html.twig' %}

{% block title %}New UsersMessage{% endblock %}

{% block body %}
    <h1>Create new UsersMessage</h1>

    {{ include('users_message/_form.html.twig') }}

    <a href="{{ path('app_users_message_index') }}">back to list</a>
{% endblock %}
