{# templates/users-message/_textarea_display.html.twig #}
{# Ce template est pour l'affichage du rich text en mode lecture seule #}

{# Générer un ID unique car il n'y a pas de champ de formulaire Symfony direct #}
{% set uniqueId = 'richtext-display-' ~ random() %}

<div class="relative z-0 group">
    <div data-controller="richtext"
         data-richtext-readonly-value="true" {# Indique au contrôleur Stimulus d'être en lecture seule #}
         class="w-full border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">

        {# PAS DE BARRE D'OUTILS ICI pour le mode visualisation #}

        <div class="px-4 py-2 bg-white rounded-b-lg dark:bg-gray-800">
            <label for="{{ uniqueId }}" class="sr-only">
                {{ label }}zzzz
            </label>
            {# Le div où Tiptap affichera le contenu en lecture seule #}
            <div data-richtext-target="editor"
                 class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400">
            </div>
            {# Un simple input hidden pour passer la valeur initiale à Tiptap. Il ne sera pas soumis. #}
            {# Correction ici: supprimer le filtre '|e' (escape) car le contenu est du HTML #}
            <input type="hidden"
                   id="{{ uniqueId }}"
                   value="{{ value }}" {# <-- C'est la LIGNE CLÉ modifiée #}
                   data-richtext-target="input"
                   readonly="readonly">
        </div>
    </div>
</div>